<!DOCTYPE html>
<html>
<head>
    <style>
        .modal-body {
            text-align: left; /* Align text to the left */
        }
        .modal-body ul {
            list-style-type: disc; /* Use bullets for the list */
            text-align: left; /* Align list items to the left */
        }
        .modal-body hr {
            border: 1px solid #ccc; /* Add border after each section */
        }
    </style>
</head>
<body>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
    Day 2
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="staticBackdropLabel2">Day 2 Tasks, Date: 08/05/2024 </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Assigned Task:                                                    
                        <ul>
                            <li>Proceed further and complete two hours of study from the GoLang Tutorial.</li>
                            <li>Make a program of palindrome of number in golang.</li>
                            <li>Learn about git.</li>
                            <li>Make a repository in github named “Algorithms” and push the completed task to Github Repo.</li>
                        </ul>
                    </li>
                    <hr>
                    <li>Completed Task:
                        <ul>
                            <li>Completed 2hrs of the GoLang Tutorial.</li>
                            <li>Made a program of palindrome of numbers in golang.</li>
                            <li>Then further kept experimenting with if/switch/loops and patterns in golang in GoLand.</li>
                            <li>Learned more about git(Still learning, just learned the basic commands right now).</li>
                            <li>Pushed the completed task to GitHub Repo.</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>


