
header {
    background-color: #ffffff;
    padding: 0px; /* Reduce padding to make the header smaller */
    text-align: left;
    border-bottom: 2px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-left: 2px solid #e0e0e0;
    border-right: 2px solid #e0e0e0;
    margin-left: 1px; 
    margin-right: 1px;
    height: 110px;
}

h1 {
    text-align: left;
    font-size: 28px; /* You can adjust the size as needed */
    color: rgb(1, 1, 1);
    margin-left: 10px;
}