<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center; /* Center components horizontally */
        }

        app-socials {
            width: 100%; /* Ensure components take full width */
            margin: 0;
            padding: 0;
        }

       
    </style>
</head>
<body>
    <app-socials></app-socials>
    <router-outlet></router-outlet>        
</body>
</html>














