<h2 class="mat-display-1" style="text-align: center">Languages</h2>
<div class="button-container">
  <mat-card class="dis">
    <img src="assets/images/C_Logo.png" alt="Logo">
    <mat-card-content>C</mat-card-content>
  </mat-card>
  <mat-card class="dis">
    <img src="assets/images/python_logo.jpg" alt="Logo">
    <mat-card-content style="padding-top: 5px">Python</mat-card-content>
  </mat-card>
  <mat-card class="dis">
    <img src="assets/images/java2_logo.png" alt="Logo" style="border-radius: 10px">
    <mat-card-content>Java</mat-card-content>
  </mat-card>
  <mat-card class="dis">
    <img src="assets/images/html_logo.png" alt="Logo" style="border-radius: 10px">
    <mat-card-content>HTML</mat-card-content>
  </mat-card>
  <mat-card class="dis">
    <img src="assets/images/go_logo.png" alt="Logo" style="border-radius: 10px">
    <mat-card-content>Golang</mat-card-content>
  </mat-card>
  <mat-card class="dis">
    <img src="assets/images/sql_logo.png" alt="Logo" style="border-radius: 10px;">
    <mat-card-content>SQL</mat-card-content>
  </mat-card>
</div>