<!DOCTYPE html>
<html>
<head>
    <style>
        .modal-body {
            text-align: left; /* Align text to the left */
        }
        .modal-body ul {
            list-style-type: disc; /* Use bullets for the list */
            text-align: left; /* Align list items to the left */
        }
        .modal-body hr {
            border: 1px solid #ccc; /* Add border after each section */
        }
    </style>
</head>
<body>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
    Day 3
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="staticBackdropLabel2">Day 3 Tasks, Date: 09/05/2024 </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Assigned Task:                                                    
                        <ul>
                            <li>Proceed further and complete three hours of study from the GoLang Tutorial.</li>
                            <li>Refactor the palindrome code written yesterday.</li>
                            <li>Continue further in git and learn about the SSH keys, change the remote url to use ssh url, generate a ssh keys, update ssh keys in github account and then push to your repo.</li>
                        </ul>
                    </li>
                    <hr>
                    <li>Completed Task:
                        <ul>
                            <li>Completed 3hrs of the GoLang Tutorial.</li>
                            <li>Refactored the Palindrome Code</li>
                            <li>Learnt more about SSH keys and updated the Palindrome Code using ssh keys pull and push.</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>

