<header class="header">
    <div class="social-links">
      <a href="https://github.com/katrinapanwar" target="_blank">
        <img src="assets/images/github_logo.jpg" alt="GitHub">
      </a>
      <a href="https://www.linkedin.com/in/katrina-panwar/" target="_blank">
        <img src="assets/images/linkedin_logo.jpg" alt="LinkedIn">
      </a>
    </div>
    <div class="profile-picture">
      <a>
        <img src="assets/images/katrina_logo.JPG" alt="ProfilePicture">
      </a>
  </div>
  </header>
