<header class="header">
  <div class="menu-container">
    <app-menu></app-menu>
  </div>
  <div class="social-links">
    <a href="https://github.com/katrinapanwar" target="_blank">
      <img class="circle" src="assets/images/github3_logo.png" alt="GitHub">
    </a>
    <a href="https://www.linkedin.com/in/katrina-panwar/" target="_blank">
      <img class="circle" src="assets/images/linked3_logo.png" alt="LinkedIn">
    </a>
    <a>
      <img class="circle" src="assets/images/katrina_logo.JPG" alt="ProfilePicture">
    </a>
  </div>
</header>