<!-- about-me.component.html -->
<div class="about-me-container">
  <div class="photo-container">
    <img src="assets/images/your_photo.jpeg" alt="Your Photo" class="profile-photo">
  </div>
  <div class="info-container">
    <div class="info">
      <h1>About Me</h1>
      <hr>
      <p>
        Hello, I'm Katrina Panwar, a third-year Software Engineering student at McGill University. I've actively engaged in numerous projects and hackathons, honing my skills and gaining practical experience in software development. Currently, I am a Web Development Intern at Entangle Software Private Limited, where I develop and maintain web applications and collaborate with a dynamic team on innovative projects. This internship has provided invaluable industry insights and fueled my passion for web development. I am a proactive learner, staying updated with the latest technological advancements, and I enjoy participating in hackathons to push my creativity and problem-solving abilities further.
      </p>
    </div>
  </div>
</div>

